
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization,geometry"></script>
    <script>
// Adding 500 Data Points
var map, pointarray, heatmap;
var rendererOptions = {
  draggable: true
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
var directionsService = new google.maps.DirectionsService();
var fatal = [
			{location: new google.maps.LatLng(52.52383289203997, 13.369717597961426), weight: 5},
			{location: new google.maps.LatLng(52.5165799514996, 13.379234075546263), weight: 5},
			{location: new google.maps.LatLng(52.519230579857556, 13.388514518737793), weight: 5},
			{location: new google.maps.LatLng(52.52426372211588, 13.402698040008545), weight: 5},
			{location: new google.maps.LatLng(52.52112378792444, 13.409940004348753), weight: 5},
			{location: new google.maps.LatLng(52.519987872874495, 13.414853811264038), weight: 5},
			{location: new google.maps.LatLng(52.511036618218704, 13.389651775360107), weight: 5},
			{location: new google.maps.LatLng(52.50638725305076, 13.389973640441895), weight: 5},
			{location: new google.maps.LatLng(52.510383647180795, 13.435249328613281), weight: 5},
			{location: new google.maps.LatLng(52.510605658422236, 13.376412391662598), weight: 5},
			{location: new google.maps.LatLng(52.507425566858366, 13.372946977615355), weight: 5}
   
];
          

        
function initialize() {
  var mapOptions = {
    zoom: 13,
    center: new google.maps.LatLng(52.519987872874495, 13.414853811264038),
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

    directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('directionsPanel'));
  var pointArray = new google.maps.MVCArray(fatal);

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
  });

  heatmap.setMap(map);
    heatmap.set('radius',50);
    
    
    
    
google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
    computeTotalDistance(directionsDisplay.getDirections());
  });


  calcRoute();
}

function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}


  


function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}
        
 function calcRoute() {

    Parse.initialize("hJcTsTDMVop4ZLtUEOVrosYztPkRU4BY4AO0L6RK", "2wYowaTp9aAvU4k2ozrpQ5GtwMMSF9MdWpjz25pj");

var s;
var d;
var Start = Parse.Object.extend("Start");
var query = new Parse.Query(Start);
query.descending('createdAt');
query.first({
  success: function(object) {
    s = new google.maps.LatLng(object.get('Geo').latitude, object.get('Geo').longitude)
    console.log(s);
  },
  error: function(error) {
  }
});    
        
var Dest = Parse.Object.extend("Dest");
var query2 = new Parse.Query(Dest);
query2.descending('createdAt');
query2.first({
  success: function(object) {
    d = new google.maps.LatLng(object.get('Geo').latitude, object.get('Geo').longitude)
    console.log(d);
  },
  error: function(error) {
  }
});  
 

     
     
setTimeout(function() { 
    
    var weightToDistanceRatio = 0.1; //0.1 = 1 kilometer
    var origin = s;
    var destination = d;
    var distAB = google.maps.geometry.spherical.computeDistanceBetween(origin, destination) //distance between origin and destination    

    
    function pDistance(x, y, x1, y1, x2, y2) {

  var A = x - x1;
  var B = y - y1;
  var C = x2 - x1;
  var D = y2 - y1;

  var dot = A * C + B * D;
  var len_sq = C * C + D * D;
  var param = -1;
  if (len_sq != 0) //in case of 0 length line
      param = dot / len_sq;

  var xx, yy;

  if (param < 0) {
    xx = x1;
    yy = y1;
  }
  else if (param > 1) {
    xx = x2;
    yy = y2;
  }
  else {
    xx = x1 + param * C;
    yy = y1 + param * D;
  }

  var dx = x - xx;
  var dy = y - yy;
  return Math.sqrt(dx * dx + dy * dy);
}
    
    
    
    
    
    function distAtoB (a, b) {
        return (google.maps.geometry.spherical.computeDistanceBetween(a, b));
    };
setTimeout(function(){
    
    var wptarray = [];
    for (var i = 0; i < fatal.length; i++){
        if (distAtoB(fatal[i].location, origin) < distAB && distAtoB(fatal[i].location, destination) < distAB && (distAtoB(fatal[i].location, destination) + distAtoB(fatal[i].location, origin))/2 < distAB){
            console.log(google.maps.geometry.spherical.computeDistanceBetween(fatal[i].location, destination)); 
            console.log(pDistance(fatal[i].location.lng(), fatal[i].location.lat(), destination.lng(), destination.lat(), origin.lng(), origin.lat())* 70.7 );
            if (fatal[i].weight == 5 && pDistance(fatal[i].location.lng(), fatal[i].location.lat(), destination.lng(), destination.lat(), origin.lng(), origin.lat())* 70.7 < 0.3 ) 
            {
                var x = distAtoB(new google.maps.LatLng(destination.lat(), origin.lng()), new google.maps.LatLng(destination.lat(), destination.lng()));
                var y = distAtoB(new google.maps.LatLng(destination.lat(), destination.lng()), new google.maps.LatLng(origin.lat(), origin.lng()));
                console.log(x);
                console.log(y);
                var angle = Math.acos(x/y);
                console.log("angle",angle * (180/Math.PI));
                if (Math.abs(angle * (180/Math.PI)) < 45) {
                wptarray.push({location: new google.maps.LatLng(fatal[i].location.lat()-0.010,fatal[i].location.lng()), stopover: true});
                    
                
                }
                else{
                     wptarray.push({location: new google.maps.LatLng(fatal[i].location.lat(),fatal[i].location.lng()-0.010), stopover: true});
                }
                
            }
        }
    }
    for (var i = 0; i < wptarray.length; i++) 
    {
        for (var j = 0; j < wptarray.length;j++) 
        {
            if (i != j){
                console.log("DISTANCE",distAtoB(wptarray[i].location, wptarray[j].location));
                if (distAtoB(wptarray[i].location, wptarray[j].location < 200)){
                    wptarray =  wptarray.splice(index, wptarray[j]);
                    j--;
                };
            }
        }
    }

    console.log(distAB);
    
    var request = {
    origin: s,
    destination: d,
    waypoints: wptarray,
    optimizeWaypoints: true,
    travelMode: google.maps.TravelMode.BICYCLING
  };
    
    
    directionsService.route(request, function(response, status) {
    
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  }); 

    }),3000}, 2000);
  
}       
        
function computeTotalDistance(result) {
  var total = 0;
  var myroute = result.routes[0];
  for (var i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }
  total = total / 1000.0;
  document.getElementById('total').innerHTML = total + ' km';
}
google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
   <div id="map-canvas" class="map-canvas-2"></div>
    <div id="directionsPanel">
    <p>Total Distance: <span id="total"></span></p>
    </div>
